NEXT_PUBLIC_SUPABASE_URL=https://drkmtnvhgsytcgepjfui.supabase.co
SUPABASE_SERVICE_ROLE_KEY=replace-with-server-secret-key
SUPABASE_DB_PASSWORD=replace-with-db-password
SUPABASE_DB_HOST=aws-0-us-east-1.pooler.supabase.com
SUPABASE_DB_PORT=6543
SUPABASE_DB_NAME=postgres
SUPABASE_DB_USER=postgres.drkmtnvhgsytcgepjfui
SESSION_SECRET=replace-with-long-random-secret
